


body {
  background: #b8d1eb;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}


a[href] {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: #344146;
}

a:hover {
  color: #3F00BE;
}

nav {
  border-style: double;
  border-width: thick;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}

#homepic img {
  width: 500px;
  height:632px;
  float: left;
  padding: 50px;
}
 hr {
   border-top: 5px solid #000000;
   margin: 35px;
 }

h1 {
  font-family: 'Kalam', cursive;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation > div {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intromain {
  padding-right: 50px;
}

.maintitle {
  padding-right: 75px;
}

.resume {
  display: grid;
  height: 100%;
  background-color: #c3c3c3;
}

#resumee img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.portpics {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lovers img {
  width: 465px;
  height: 327px;
  padding: 30px;
  padding-bottom: 5px;
}

#momspiece img {
  width: 540px;
  height: 430px;
  padding: 30px;
  padding-bottom: 5px;
}
