body {
  background: #4C6B8E;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}



ul {
  list-style-type:none;
}

a[href] {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: #FFFFFF;
}

a:hover {
  color: #00D6FC
}

nav {
  background-color: #81949D;
  font-family: 'Raleway', sans-serif;
}

img {
  max-height: 300px;
  max-width: 300px;
  width: 250px;
  height: 250px;
}

h1 {
  font-family: 'Kalam', cursive;
}
