body {
  background: #9FEAFC;
  text-align: center;
}

h1 h2{
  color: #FFFFFF;
}

ul {
  list-style-type:none;
}

a[href] {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  color: #FFFFFF;
}
